In [1]:
a = (1, 2, 3)

In [2]:
type(a)

tuple

It is not the parenthesis, but the comma that defines a tuples

In [3]:
a = 1, 2, 3

In [4]:
type(a)

tuple

In [5]:
a

(1, 2, 3)

In [6]:
a = (1)

In [7]:
type(a)

int

In [8]:
a

1

In [9]:
a = 'a'

In [10]:
type(a)

str

In [11]:
a = (1,)

In [12]:
type(a)

tuple

In [13]:
a = 100,

In [14]:
type(a)

tuple

In [15]:
a

(100,)

Only empty tuples need to be initialized with parenthesis

In [16]:
a = ()

In [17]:
type(a)

tuple

In [18]:
a = ,

SyntaxError: invalid syntax (<ipython-input-18-95e8fdfb9ab8>, line 1)

In [19]:
a, b, c = [1, 'a', 3.14]

In [20]:
a

1

In [21]:
b

'a'

In [22]:
c

3.14

In [23]:
(a, b, c)

(1, 'a', 3.14)

In [24]:
(a, b, c) = [1, 2, 3]

In [25]:
a

1

In [26]:
b

2

In [27]:
c

3

In [28]:
(a, b) = (1, 2)

In [29]:
a

1

In [30]:
b

2

In [31]:
a, b = 10, 20

In [32]:
a

10

In [33]:
b

20

In [34]:
a, b, c = 10, 20, 30

In [35]:
a

10

In [36]:
b

20

In [37]:
c

30

In [38]:
a, b, c = 10, 'a', 3.14

In [39]:
a

10

In [40]:
b

'a'

In [41]:
c

3.14

In [42]:
a, b, c = 10, {1, 2}, ['a', 'b']

In [43]:
a

10

In [44]:
b

{1, 2}

In [45]:
c

['a', 'b']

In [46]:
a, b = 10, 20

In [47]:
print(a, b)

10 20

#### Swap two variable in the pythonic way

In [48]:
a, b = b, a

In [49]:
c = (id(b), id(a))

In [50]:
c

(94328446332512, 94328446332832)

In [51]:
print(a, b)

20 10

In [52]:
for e in 'XYZ':
    print(e)

X
Y
Z

In [53]:
a, b, c = 'XYZ'

In [54]:
a

'X'

In [55]:
b

'Y'

In [56]:
c

'Z'

In [57]:
s = 'XYZ'

In [59]:
s[0]

'X'

Unordered iterables don't have indices

In [60]:
s = {1, 2, 3}

In [61]:
s[0]

TypeError: 'set' object is not subscriptable

In [62]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [63]:
print(s)

{'t', 'y', 'h', 'p', 'o', 'n'}

In [64]:
print(s)

{'t', 'y', 'h', 'p', 'o', 'n'}

In [65]:
for e in s:
    print(e)

t
y
h
p
o
n

Python evaluates the RHS first and gets rid of the RHS variables from memory

In [66]:
a, b, c, d, e, f = s

In [67]:
a

't'

In [68]:
b

'y'

In [69]:
d = {'a':1, 'b':2, 'c':3}

In [70]:
for e in d:
    print(e)

a
b
c

In [71]:
a, b, c = d

In [72]:
a

'a'

In [73]:
b

'b'

In [74]:
c

'c'

In [75]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [76]:
d, a, b, c = d

In [77]:
d

'a'

In [78]:
a

'b'

In [79]:
b

'c'

In [80]:
c

'd'

In [81]:
for e in d:
    print(e)

a

In [82]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [83]:
for e in d:
    print(e)

a
b
c
d

In [84]:
for e in d.values():
    print(e)

1
2
3
4

In [85]:
a, b, c, d = d.values()

In [86]:
a

1

In [87]:
b

2

In [88]:
c

3

In [89]:
d

4

In [91]:
d = {'a':1, 'b':2, 'c':3, 'd':4}

In [92]:
for e in d.items():
    print(e)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [93]:
for e in d.items():
    a, b = e
    print('key={0}, value={1}'.format(a, b) )

key=a, value=1
key=b, value=2
key=c, value=3
key=d, value=4